*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #333;
  background: linear-gradient(0.25turn, rgb(236, 21, 236), rgba(47, 19, 172, 0.856));
}


.grid {
  width: 60%;
  border: 2px solid #333;
  display: grid;
  grid-gap: 15px;
  height: 100vh;
  /* grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); */
  grid-template-areas:
    "header header header header"
    "body1 body1 body2 body2"
    "body1 body1 body2 body2"
    "footer footer footer footer"
  ;
}


.box {
  background: #0367e9ab;
  line-height: 120px;
  text-align: center;
  font-size: 3em;
  color: #fff;
}


.box1 {
  grid-area: header;
}

.box2 {
  grid-area: body1;
}

.box3 {
  grid-area: body1;
}

.box4 {
  grid-area: body1;
}

.box5 {
  grid-area: body1;
}

.box6 {
  grid-area: body2;
}

.box7 {
  grid-area: body2;
}

.box8 {
  grid-area: body2;
}

.box9 {
  grid-area: body2;
}

.box16 {
  grid-area: footer;
}