html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #FAFAFA;

  font-family: 'Lato', sans-serif;
}

.header {
  background: white;
  color: #333;
  position: fixed;
  left: 0;
  right: 0;
  height: 40px;
  top: 0;
}

input[type="text"] {
  border: solid 1px rgba(219, 219, 219, 1);
  border-radius: 3px;
  padding: .3rem .8rem;
}

input[type="text"]::placeholder {
  color: rgba(19, 9, 9, .7);
  text-align: center;
  text-transform: capitalize;
}

.header-content {
  max-width: 930px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.header-content .logo {
  font-family: 'Pacifico', cursive;
}

.main-nav>ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.main-nav>ul>li {
  display: inline-block;
  padding: .4rem;
  cursor: pointer;
}

.main-nav>ul>li>img {
  border-radius: 50%;
  height: 30px;
}

main {
  max-width: 930px;
  margin: 4rem auto;

}

.user {


  display: flex;
  flex-direction: column;
}

.user .title {

  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 80%;
  align-items: center;
}

.user .title h1 {
  margin-left: auto;
  margin-right: 2rem;
}

.user .title button {
  height: 25px;
  background: transparent;
  border: 1px solid rgba(219, 219, 219, 1);
  color: rgba(38, 38, 38, 1);
  border-radius: 8px;
  font-weight: 700;
  box-shadow: 1px 1px rgba(219, 219, 219, 1);
  margin-right: auto;
  width: 120px;
  cursor: pointer;
}

.user .title button:active {
  position: relative;
  top: 8px;
  box-shadow: 2px 3px rgba(219, 219, 219, 1);
}

.user-stats {

  display: flex;
  justify-content: space-around;
}

.user-stats p {}

.user-stats p span {
  font-weight: 800;
}

.user-stats article p {
  font-weight: 800;
}

.about {
  padding: 0 1rem;
}

.about p {
  line-height: 30px;
}

.about p span {
  font-weight: 800;
  display: block;
}

.avatar {
  border-radius: 50%;
  width: 152px;
  justify-self: center;
  border: 2px solid rgba(219, 219, 219, 1);
  box-shadow: 1px 2px 2px 1px rgba(219, 219, 219, 1);
}

.user-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2rem 1rem;
}

.news-feed {
  border: 3px dashed blue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 28px;
}

.news-feed img {
  width: 100%;
}

.feed-nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  border-top: 1px solid rgb(150, 146, 146);
  width: 80%;
  margin: 0 auto;
  ;
}

.feed-nav a {
  display: block;
  padding: 10px;
  color: rgb(150, 146, 146);
  text-decoration: 0;
}